[submodule "Analog/IHP_A__BandgapReference_0xCD6E"]
	path = Analog/IHP_A__BandgapReference_0xCD6E
	url = https://github.com/IHP-GmbH/IHP_A__BandgapReference_0xCD6E.git
[submodule "Analog/IHP__BGR-0210"]
	path = Analog/IHP__BGR-0210
	url = https://github.com/IHP-GmbH/IHP__BGR-0210
[submodule "Analog/IHP__OPA-1609"]
	path = Analog/IHP__OPA-1609
	url = https://github.com/KrzysztofHerman/IHP__OPA-1609
